@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #013477;
  --foreground: #FF8725;
  --light-background: #F6FAF9;
  --light-foreground: #FFE7D3;
  --xlight-foreground: #FFF5EE;
  --course-wellbeing-1:#FFC625;
  --course-wellbeing-2:#FF8725;
  --course-wellbeing-3:#F15000;
  --course-relationship-1:#F20270;
  --course-relationship-2:#E14150;
  --course-relationship-3:#7C005C;
  --course-corporate-1:#12B0FF;
  --course-corporate-2:#002DB7;
  --course-corporate-3:#013477;
  --course-community-1:#96C500;
  --course-community-2:#667000;
  --course-community-3:#165000;
  --exit-red:#E14150;
  --red-background:#FFE1E4;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
